<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="admin.css">
</head>
<body>
    <table>
        <tr>
            <th>Day</th>
            <th>WaiterName</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td id="monday">{{waiterAssignments.Monday}}</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td id="tuesday">{{waiterAssignments.Tuesday}}</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td id="wednesday">{{waiterAssignments.Wednesday}}</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td id="thursday">{{waiterAssignments.Thursday}}</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td id="friday">{{waiterAssignments.Friday}}</td>
        </tr>
    </table>
    <form action="/admin-feedback/reset-schedule" method="post">
        <button type="submit">Reset Schedule</button>
    </form>
</body>
</html>


    
       