<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="admin.css">
</head>
<body>
    <table>
        <tr>
            <th>Day</th>
            <th>WaiterName</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>
                {{#each waiterAssignments}}
                    {{#if (eq day "Monday")}}
                        {{this.waiter_name}}
                    {{/if}}
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>
                {{#each waiterAssignments}}
                    {{#if (eq day "Tuesday")}}
                        {{this.waiter_name}}
                    {{/if}}
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>
                {{#each waiterAssignments}}
                    {{#if (eq day "Wednesday")}}
                        {{this.waiter_name}}
                    {{/if}}
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>
                {{#each waiterAssignments}}
                    {{#if (eq day "Thursday")}}
                        {{this.waiter_name}}
                    {{/if}}
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>
                {{#each waiterAssignments}}
                    {{#if (eq day "Friday")}}
                        {{this.waiter_name}}
                    {{/if}}
                {{/each}}
            </td>
        </tr>
    </table>
    <form action="/admin-feedback/reset-schedule" method="post">
        <button type="submit">Reset Schedule</button>
    </form>
</body>
</html>


