<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="admin.css">
</head>
<body>
    <table>
        <tr>
            <th>Day</th>
            <th>WaiterName</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>
                {{#each monday}}

                        {{this}}
                    
                {{/each}}
                
            </td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>
                {{#each tuesday}}
                    
                        {{this}}
                   
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>
                {{#each wednesday}}
                    
                        {{this}}
                  
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>
                {{#each thursday}}
                    
                        {{this}}
                  
                {{/each}}
            </td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>
                {{#each friday}}
                   
                        {{this}}
                   
                {{/each}}
            </td>
        </tr>
    </table>
    <form action="/admin-feedback/reset-schedule" method="post">
        <button type="submit">Reset Schedule</button>
    </form>
</body>
</html>


