<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/admin.css">
</head>
<body>
<div class="key_words">
  <h2>Information about the table</h2>
  <ul>
    <li class="not-enough">not-enough: orange</li>
    <li class="too-much">too-much: red</li>
    <li class="enough">enough: green</li>
   </ul>
</div>

<div class="grid-container">
<div class="grid-item">
    <p>Monday</p>
    {{#each data.Monday}}
    <div class="{{#if (eq ../classifications.Monday "no-waiters")}}no-waiters{{else if (eq ../classifications.Monday "not-enough")}}not-enough{{else if (eq ../classifications.Monday "enough")}}enough{{else}}too-much{{/if}}">
        {{this}}
    </div>
    {{/each}}
</div>


  <div class="grid-item">
    <p>Tuesday</p>
    {{#each data.Tuesday}}
    <div class="{{#if (eq ../classifications.Tuesday "no-waiters")}}no-waiters{{else if (eq ../classifications.Tuesday "not-enough")}}not-enough{{else if (eq ../classifications.Tuesday "enough")}}enough{{else}}too-much{{/if}}">
      {{this}}
    </div>
    {{/each}}
  </div>

  <div class="grid-item">
    <p>Wednesday</p>
    {{#each data.Wednesday}}
    <div class="{{#if (eq ../classifications.Wednesday "no-waiters")}}no-waiters{{else if (eq ../classifications.Wednesday "not-enough")}}not-enough{{else if (eq ../classifications.Wednesday "enough")}}enough{{else}}too-much{{/if}}">
      {{this}}
    </div>
    {{/each}}
  </div>

  <div class="grid-item">
    <p>Thursday</p>
    {{#each data.Thursday}}
    <div class="{{#if (eq ../classifications.Thursday "no-waiters")}}no-waiters{{else if (eq ../classifications.Thursday "not-enough")}}not-enough{{else if (eq ../classifications.Thursday "enough")}}enough{{else}}too-much{{/if}}">
      {{this}}
    </div>
    {{/each}}
  </div>

  <div class="grid-item">
    <p>Friday</p>
    {{#each data.Friday}}
    <div class="{{#if (eq ../classifications.Friday "no-waiters")}}no-waiters{{else if (eq ../classifications.Friday "not-enough")}}not-enough{{else if (eq ../classifications.Friday "enough")}}enough{{else}}too-much{{/if}}">
      {{this}}
    </div>
    {{/each}}
  </div>

  <div class="grid-item">
    <p>Saturday</p>
    {{#each data.Saturday}}
    <div class="{{#if (eq ../classifications.Saturday "no-waiters")}}no-waiters{{else if (eq ../classifications.Saturday "not-enough")}}not-enough{{else if (eq ../classifications.Saturday "enough")}}enough{{else}}too-much{{/if}}">
      {{this}}
    </div>
    {{/each}}
  </div>

  <div class="grid-item">
    <p>Sunday</p>
    {{#each data.Sunday}}
    <div class="{{#if (eq ../classifications.Sunday "no-waiters")}}no-waiters{{else if (eq ../classifications.Sunday "not-enough")}}not-enough{{else if (eq ../classifications.Sunday "enough")}}enough{{else}}too-much{{/if}}">
      {{this}}
    </div>
    {{/each}}
  </div>
</div>

<form action="/days/reset-schedule" method="post">
    <button type="submit">Reset Schedule</button>
</form>
</body>
</html>
