<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/Schedule.css">
</head>
<body>
<div class="container">
  
  <h3>Select Available Days:</h3>
  <h2>Welcome, {{waiterName}}</h2>
  
   <form action="/waiter/{{waiterName}}" method="post">

    <div class="error-message">{{errorMessage}}</div>
    <div class="successMessage">{{successMessage}}</div>
    
    <!-- Define a hidden input field to store selectedDaysJson -->
    <input type="hidden" id="selectedDaysInput" name="selectedDays" value="{{selectedDaysJson}}">

    <div class="day-container">
      <label class="day-label" for="day1">Monday</label>
      <input type="checkbox" id="day1" name="days" value="Monday" {{#if (inArray "Monday" selectedDays)}}checked{{/if}}>
    </div>

    <div class="day-container">
      <label class="day-label" for="day2">Tuesday</label>
      <input type="checkbox" id="day2" name="days" value="Tuesday" {{#if (inArray "Tuesday" selectedDays)}}checked{{/if}}>
    </div>

    <div class="day-container">
      <label class="day-label" for="day3">Wednesday</label>
      <input type="checkbox" id="day3" name="days" value="Wednesday" {{#if (inArray "Wednesday" selectedDays)}}checked{{/if}}>
    </div>

    <div class="day-container">
      <label class="day-label" for="day4">Thursday</label>
      <input type="checkbox" id="day4" name="days" value="Thursday" {{#if (inArray "Thursday" selectedDays)}}checked{{/if}}>
    </div>

    <div class="day-container">
      <label class="day-label" for="day5">Friday</label>
      <input type="checkbox" id="day5" name "days" value="Friday" {{#if (inArray "Friday" selectedDays)}}checked{{/if}}>
    </div>

    <div class="day-container">
      <label class="day-label" for="day6">Saturday</label>
      <input type="checkbox" id="day6" name="days" value="Saturday" {{#if (inArray "Saturday" selectedDays)}}checked{{/if}}>
    </div>

    <div class="day-container">
      <label class="day-label" for="day7">Sunday</label>
      <input type="checkbox" id="day7" name="days" value="Sunday" {{#if (inArray "Sunday" selectedDays)}}checked{{/if}}>
    </div>

    <div>
      <button type="submit">Submit Schedule</button>
    </div>
  </form>
  
<script>
  document.addEventListener("DOMContentLoaded", function () {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    const selectedDaysJson = document.querySelector("#selectedDaysInput").value;
    const selectedDays = JSON.parse(selectedDaysJson);
    
    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("change", function () {
        if (this.checked) {
          selectedDays.push(this.value);
        } else {
          selectedDays.splice(selectedDays.indexOf(this.value), 1);
        }

        const updatedSelectedDaysJson = JSON.stringify(selectedDays);
        document.querySelector("#selectedDaysInput").value = updatedSelectedDaysJson;
      });

      if (selectedDays.includes(checkbox.value)) {
        checkbox.checked = true;
      }
    });
  }
  </script>
</div>

</body>
</html>
